import React from "react";
import classNames from "classnames";


export interface {{ componentName }}Props {
    className?: string;
    style?: React.CSSProperties;
}

export const {{ componentName }}: React.FC <{{ componentName }}Props> = (props) => {
    const {
        className,
        style,
        children,
    } = props
    const classes = classNames('{{ componentName }}', className, {

    })
    return (
        <div className={classes} style={style}>
            {children}
        </div>
    )
}

{{ componentName }}.defaultProps = {

}

export default {{ componentName }};
